.vs/
Extensions/Tessa.Extensions.Chronos/obj/
Extensions/Tessa.Extensions.Client/obj/
Extensions/Tessa.Extensions.Default.Chronos/obj/
Extensions/Tessa.Extensions.Default.Client/obj/
Extensions/Tessa.Extensions.Default.Server/obj/
Extensions/Tessa.Extensions.Default.Shared/obj/
Extensions/Tessa.Extensions.Server/obj/
Extensions/Tessa.Extensions.Server.Web/obj/
Extensions/Tessa.Extensions.Shared/obj/
Modules/Tessa.Module.Sample.Client/obj/
Modules/Tessa.Module.Sample.Server/obj/
Modules/Tessa.Module.Sample.Shared/obj/
Bin/extensions/
Bin/Module.Sample.Client/
Bin/Module.Sample.Server/
Bin/Tessa.Module.Sample.Server/
Bin/Tessa.Module.Sample.Client/
Bin/Tessa.Chronos/
Bin/Tessa.Extensions.Chronos/
Bin/Tessa.Extensions.Client/
Bin/Tessa.Extensions.Server/
Bin/MT_eks_service/
Extensions/Tessa.Extensions.Chronos/bin/
Extensions/Tessa.Extensions.Client/bin/
Extensions/Tessa.Extensions.Default.Chronos/bin/
Extensions/Tessa.Extensions.Default.Client/bin/
Extensions/Tessa.Extensions.Default.Server/bin/
Extensions/Tessa.Extensions.Default.Shared/bin/
Extensions/Tessa.Extensions.Server/bin/
Extensions/Tessa.Extensions.Server.Web/bin/
Extensions/Tessa.Extensions.Shared/bin/
Modules/Tessa.Module.Sample.Client/bin/
Modules/Tessa.Module.Sample.Server/bin/
Modules/Tessa.Module.Sample.Shared/bin/
Extensions/Tessa.Extensions.Shared/post-build.bat
Extensions/Tessa.Extensions.Server/post-build.bat
Extensions/Tessa.Extensions.Client/post-build.bat
Extensions/Tessa.Extensions.Chronos/post-build.bat
.idea/.idea.Tessa.Extensions/riderModule.iml
.idea/.idea.Tessa.Extensions/.idea/modules.xml
.idea/.idea.Tessa.Extensions/.idea/indexLayout.xml
.idea/.idea.Tessa.Extensions/.idea/contentModel.xml
.idea/.idea.Tessa.Extensions/.idea/.name
.idea/.idea.Tessa.Extensions/.idea/workspace.xml
TessaFileService/.idea/.idea.TessaFileService/riderModule.iml
TessaFileService/.idea/.idea.TessaFileService/.idea/workspace.xml
TessaFileService/.idea/.idea.TessaFileService/.idea/modules.xml
TessaFileService/.idea/.idea.TessaFileService/.idea/indexLayout.xml
TessaFileService/.idea/.idea.TessaFileService/.idea/contentModel.xml
TessaFileService/TessaFileService/bin/
TessaFileService/TessaFileService/obj/
TessaFileService/.idea/
TessaFileService/UpgradeLog.htm
TessaFileService/UpgradeLog2.htm
.idea/.idea.Tessa.Extensions/.idea/workspace.xml___jb_tmp___
TessaFileService/TessaFileService/TessaFileService.csproj.user
.idea/.idea.Tessa.Extensions/.idea/vcs.xml
WebClient SDK/Configuration/
WebClient SDK/dts/
WebClient SDK/node_modules/
WebClient SDK/src/default/
WebClient SDK/wwwroot/
Extensions/Tessa.Extensions.Server.Web/post-build.bat
Configuration/.vscode/settings.json
TessaFileService/packages/
TessaFileService/TessaFileService/Properties/PublishProfiles/
WebClient SDK/package-lock.json
WebClient SDK/package.json
Tessa.Extensions.sln.DotSettings
WebClient SDK/post-build.bat


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.refactorlog
/.idea/
WebClient SDK/.vscode/launch.json
Extensions/Tessa.Extensions.Console/obj/
Extensions/Tessa.Extensions.Default.Console/obj/
Extensions/Tessa.Extensions.Console/bin/
Extensions/Tessa.Extensions.Default.Console/bin/
