<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>

  <appSettings>
    <add key="Title" value="Extensions Version" />
    <add key="UseThreeNumbers" value="True" />
    <add key="File1" value="Extensions\Tessa.Extensions.Chronos\Tessa.Extensions.Chronos.csproj" />
    <add key="File2" value="Extensions\Tessa.Extensions.Client\Tessa.Extensions.Client.csproj" />
    <add key="File3" value="Extensions\Tessa.Extensions.Server\Tessa.Extensions.Server.csproj" />
    <add key="File4" value="Extensions\Tessa.Extensions.Server.Web\Tessa.Extensions.Server.Web.csproj" />
    <add key="File5" value="Extensions\Tessa.Extensions.Shared\Tessa.Extensions.Shared.csproj" />
    <add key="File6" value="Extensions\Tessa.Extensions.Console\Tessa.Extensions.Console.csproj" />
  </appSettings>
</configuration>