<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="file" xsi:type="File" encoding="utf-8" writeBom="true" fileName="${basedir}/log.txt" />
    <target name="queries" xsi:type="File" encoding="utf-8" writeBom="true" fileName="${basedir}/queries.txt" layout="--${longdate}${newline}${message}${newline}GO${newline}" />
    <target name="CreateOrUpdateContract" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/PnrServiceController/Договоры_CRM/${shortdate}.txt" />
    <target name="CreateOrUpdateFile" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/PnrServiceController/Файлы/${shortdate}.txt" />
    <target name="CreateOrUpdateProject" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/PnrServiceController/Проекты/${shortdate}.txt" />
    <target name="CreateOrUpdateCFO" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/PnrServiceController/ЦФО/${shortdate}.txt" />
    <target name="CreateOrUpdateCostItem" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/PnrServiceController/Статьи_затрат/${shortdate}.txt" />
    <target name="CreateOrUpdateOrganization" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/PnrServiceController/Организации/${shortdate}.txt" />
    <target name="CreateOrUpdatePartner" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/PnrServiceController/Контрагенты/${shortdate}.txt" />
    <target name="MdmUpdateContract" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/PnrServiceController/Договоры_НСИ/${shortdate}.txt" />
    <target name="PartnerRequestSendMessage" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/PartnerRequestSendMessage/${shortdate}.txt" />
    <target name="ContractSendMessage" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/ContractSendMessage/${shortdate}.txt" />
    <target name="SuppAgrSendMessage" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/SuppAgrSendMessage/${shortdate}.txt" />
    <target name="CrmFixFileVersionLogger" xsi:type="File" maxArchiveFiles="30" fileName="${basedir}/logs/CrmFixFileVersionLogger/${shortdate}.txt" />
    <target name="null" xsi:type="Null" formatMessage="false"  />
  </targets>

  <rules>
    <logger name="SqlQueries" minlevel="Off" writeTo="queries" final="true" />
    <logger name="SqlQueries" minlevel="Trace" writeTo="null" final="true" />
    <logger name="Tessa.Extensions.Server.Web.Services.PnrServiceController" minlevel="Trace" writeTo="PnrServiceController" final="true" />
    <logger name="CreateOrUpdateContract" minlevel="Trace" writeTo="CreateOrUpdateContract" final="true" />
    <logger name="CreateOrUpdateFile" minlevel="Trace" writeTo="CreateOrUpdateFile" final="true" />
    <logger name="CreateOrUpdateProject" minlevel="Trace" writeTo="CreateOrUpdateProject" final="true" />
    <logger name="CreateOrUpdateCFO" minlevel="Trace" writeTo="CreateOrUpdateCFO" final="true" />
    <logger name="CreateOrUpdateCostItem" minlevel="Trace" writeTo="CreateOrUpdateCostItem" final="true" />
    <logger name="CreateOrUpdateOrganization" minlevel="Trace" writeTo="CreateOrUpdateOrganization" final="true" />
    <logger name="CreateOrUpdatePartner" minlevel="Trace" writeTo="CreateOrUpdatePartner" final="true" />
    <logger name="MdmUpdateContract" minlevel="Trace" writeTo="MdmUpdateContract" final="true" />
    <logger name="PartnerRequestSendMessage" minlevel="Trace" writeTo="PartnerRequestSendMessage" final="true" />
    <logger name="ContractSendMessage" minlevel="Trace" writeTo="ContractSendMessage" final="true" />
    <logger name="SuppAgrSendMessage" minlevel="Trace" writeTo="SuppAgrSendMessage" final="true" />
    <logger name="CrmFixFileVersionLogger" minlevel="Trace" writeTo="CrmFixFileVersionLogger" final="true" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>

</nlog>
